{% extends 'base.html.twig' %}


{% block body %}


	<div class="articles__container">
		{% for message in app.flashes('success') %}
			<div class="alert alert__success">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('edit') %}
			<div class="alert alert__edit">
				{{ message }}
			</div>
		{% endfor %}
		{% for message in app.flashes('delete') %}
			<div class="alert alert__delete">
				{{ message }}
			</div>
		{% endfor %}
		{% for article in articles %}
			<div class="article">
				<h1>{{ article.title }}</h1>
				<img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="Image de l'article">
				{% if article.content|length > 350 %}
					{{ article.content|slice(0, 350) }}...
					<a href="{{ path('app_article', {'id':article.id})}}" class="article--more">voir plus</a>
				{% else %}
					{{  article.content}}
				{% endif %}

			</p>
			<span>
				<b>par
					<span class="underline">{{ article.author }}</span>
				</b>
			</span>
			<div class="date">
				<span>
					<i>Crée le

						{{ article.createdAt|date("d/m/Y") }}</i>
				</span>
				{# {% if article.updatedAt is not empty %}
																																<span>&nbsp / &nbsp
																																	<i>Modifié le
																												
																																		{{ article.updatedAt|date('d/m/Y')}}
																																	</span>																																								</i>
																															{% endif %} #}
			</div>
			{% if(app.user) %}
				{% if(app.user.id == article.authorId ) %}
					<div class="form__edit__delete">
						<a class="form__btn form__btn--edit" href="{{ path('actualites.edit', { id: article.id }) }}">Modifier</a>
						<a class="form__btn form__btn--delete" href="{{ path('actualites.delete', { id: article.id }) }}">Supprimer</a>
					</div>
				{% endif %}
			{% endif %}
		</div>
	{% endfor %}
	<div class="navigation">
		{{ knp_pagination_render(articles) }}
	</div>
	{% if(app.user) %}
		<a href="{{ path('actualites.new')}}" class="form__add">
			+
		</a>
	{% endif %}
</div>{% endblock %}
