{% extends 'base.html.twig' %}

{% block body %}
	<div class="card__container">
		<div class="card">
			<div class="card__left">
				<div class="card__item card__item--title ">
					<h1>BRINKS MENU</h1>
				</div>
				<div class="card__item card__item--title">
					<h2>LOS SHOOTERS</h2>
				</div>
				<div class="card__item">BLUE KAMIKAZO<br>
					<p>Vodka, Curaçao Bleu, Jus de Citron Vert</p>
					<p><img src="{{asset('images/card/blue-skull.png')}}" alt="indicateur-d-alcool"><img src="{{asset('images/card/blue-skull.png')}}" alt="indicateur-d-alcool"><img src="{{asset('images/card/blue-skull.png')}}" alt="indicateur-d-alcool"><img src="{{asset('images/card/blue-skull.png')}}" alt="indicateur-d-alcool"></p>
				</div>
				<div class="card__item">
					<div class="card__item--price">
						0.5€
					</div>
				</div>
				<div class="card__item">GRANADA<br>
					<p>Vodka, Sirop de Grenadine</p>
					<p><img src="{{asset('images/card/blue-skull.png')}}" alt="indicateur-d-alcool"><img src="{{asset('images/card/blue-skull.png')}}" alt="indicateur-d-alcool"><img src="{{asset('images/card/blue-skull.png')}}" alt="indicateur-d-alcool"></p>
				</div>
				<div class="card__item">
					<div class="card__item--price">
						0.5€
					</div>
				</div>
				<div class="card__item">SANANAVANILLA<br>
					<p>Vodka Vanille, Jus d'Ananas, Grenadine</p>
					<p><img src="{{asset('images/card/blue-skull.png')}}" alt="indicateur-d-alcool"><img src="{{asset('images/card/blue-skull.png')}}" alt="indicateur-d-alcool"><img src="{{asset('images/card/blue-skull.png')}}" alt="indicateur-d-alcool"></p>
				</div>
				<div class="card__item">
					<div class="card__item--price">
						0.5€
					</div>
				</div>
				<div class="card__item card__item--title">
					<h2>LOS SOFTS</h2>
				</div>
				<div class="card__item"></div>
				<div class="card__item">BORA BORA
					<br>
					<p>Jus d'Ananas, Jus de Passion, Jus de Citron Vert, Sirop de Grenadine</p>
					<p><img src="{{asset('images/card/blue-skull.png')}}" alt="indicateur-d-alcool"></p>
				</div>
				<div class="card__item">
					<div class="card__item--price">
						1€
					</div>
				</div>
				<div class="card__item">MOJITO LIGHT
					<br>
					<p>Feuilles de Menthe, Citrons Verts, Sucre de Canne, Limonade Artisanale</p>
					<p><img src="{{asset('images/card/blue-skull.png')}}" alt="indicateur-d-alcool"></p>
				</div>
				<div class="card__item">
					<div class="card__item--price">
						1€
					</div>
				</div>
			</div>
			<div class="card__right">
				<div class="card__item card__item--title">
					<h2>LOS CLASSICOS</h2>
				</div>


				<div class="card__item cocktails">GRINGO LOCO
					<br>
					<p>Rhum Ambré, Cachaça, Spicy Mango, Jus de Passion, Jus d'Ananas, Jus de Citron Vert, Vanille, Gingembre</p>
					<p><img src="{{asset('images/card/white-skull.png')}}" alt="indicateur-d-alcool"><img src="{{asset('images/card/white-skull.png')}}" alt="indicateur-d-alcool"></p>
					<div class="hover--reveal images01">
						<img class="hidden--img " src="{{asset('images/card/gringo-loco.jpeg')}}" alt="">
					</div>
				</div>
				<div class="card__item">
					<div class="card__item--price">
						2€
					</div>
				</div>


				<div class="card__item cocktails">ZOMBIELIXIR
					<br>
					<p>Rhum Ambré, Rhum Blanc, Jus d’Ananas, Jus d’Abricot, Jus de Citron Vert, Sirop de Grenadine, Ananas</p>
					<p><img src="{{asset('images/card/white-skull.png')}}" alt="indicateur-d-alcool"><img src="{{asset('images/card/white-skull.png')}}" alt="indicateur-d-alcool"><img src="{{asset('images/card/white-skull.png')}}" alt="indicateur-d-alcool"></p>
					<div class="hover--reveal images02">
						<img class="hidden--img" src="{{asset('images/card/zombielixir.jpeg')}}" alt="">
					</div>
				</div>
				<div class="card__item">
					<div class="card__item--price">
						3€
					</div>
				</div>


				<div class="card__item cocktails">BLACK PEARL
					<br>
					<p>Vodka Black, Jus de Cramberry, Jus de Citron Vert, Limonade Artisanale, Groseilles</p>
					<p><img src="{{asset('images/card/white-skull.png')}}" alt="indicateur-d-alcool"></p>
					<div class="hover--reveal images03">
						<img class="hidden--img " src="{{asset('images/card/black-pearl.jpeg')}}" alt="">
					</div>
				</div>

				<div class="card__item">
					<div class="card__item--price">
						2€
					</div>
				</div>


				<div class="card__item cocktails">TEMPTA PASSION
					<br>
					<p>Vodka, Liqueur de Passion, Jus de Citron Vert, Vanille, Jus Passion, Shot de Prosseco</p>
					<p><img src="{{asset('images/card/white-skull.png')}}" alt="indicateur-d-alcool"><img src="{{asset('images/card/white-skull.png')}}" alt="indicateur-d-alcool"></p>
					<div class="hover--reveal images04">
						<img class="hidden--img " src="{{asset('images/card/tempta-passion.jpeg')}}" alt="">
					</div>
				</div>
				<div class="card__item">
					<div class="card__item--price">
						3€
					</div>
				</div>


				<div class="card__item cocktails">GOGO POMELO
					<br>
					<p>Tequilla Blanco, Liqueur de Pamplemousse, Jus de Pamplemousse, Jus de Citron Vert, Eau Gazeuse</p>
					<p><img src="{{asset('images/card/white-skull.png')}}" alt="indicateur-d-alcool"></p>
					<div class="hover--reveal images05">
						<img class="hidden--img " src="{{asset('images/card/gogo-pomelo.jpeg')}}" alt="">
					</div>
				</div>
				<div class="card__item">
					<div class="card__item--price">
						2€
					</div>
				</div>


				<div class="card__item cocktails">WAVY BLUE
					<br>
					<p>Rhum Blanc, Jus d'Ananas, Curaçao Bleu, Liqueur de Coco, Paillettes, Ananas</p>
					<p><img src="{{asset('images/card/white-skull.png')}}" alt="indicateur-d-alcool"><img src="{{asset('images/card/white-skull.png')}}" alt="indicateur-d-alcool"></p>
				</div>
				<div class="card__item">
					<div class="card__item--price">
						2€
					</div>
				</div>


				<div class="card__item cocktails">HABIBISCUS
					<br>
					<p>Tequilla Blanco, Jus de Citron Vert, Sirop d'Hibiscus, Fleurs séchées d'Hibiscus</p>
					<p><img src="{{asset('images/card/white-skull.png')}}" alt="indicateur-d-alcool"></p>
					<div class="hover--reveal images07">
						<img class="hidden--img " src="{{asset('images/card/habibiscus.jpeg')}}" alt="">
					</div>
				</div>
				<div class="card__item">
					<div class="card__item--price">
						2€
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}
