{% extends 'base.html.twig' %}

{% block title %}Gringo Loco - Modification de l'utilisateur
{% endblock %}

{% block body %}
	{% for message in app.flashes('success') %}
		<div class="alert alert__success">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('warning') %}
		<div class="alert alert__warning">
			{{ message }}
		</div>
	{% endfor %}
	<div class="form">
		<h1>Modification des informations utilisateur</h1>
		{{ form_start(form)}}
		<div class="form__groups">
			{{ form_start(form) }}
			<div class="form__group">
				{{ form_label(form.email)}}
				{{ form_widget(form.email)}}
				<div class="form__error">
					{{ form_errors(form.email)}}
				</div>
			</div>
			<div class="form__group">
				{{ form_label(form.firstName)}}
				{{ form_widget(form.firstName)}}
				<div class="form__error">
					{{ form_errors(form.firstName)}}
				</div>
			</div>
			<div class="form__group">
				{{ form_label(form.lastName)}}
				{{ form_widget(form.lastName)}}
				<div class="form__error">
					{{ form_errors(form.lastName)}}
				</div>
			</div>
			<div class="form__group">
				{{ form_label(form.pseudo)}}
				{{ form_widget(form.pseudo)}}
				<div class="form__error">
					{{ form_errors(form.pseudo)}}
				</div>
			</div>
			{# <div class="form__group">
													{{ form_label(form.imageFile)}}
													{{ form_widget(form.imageFile)}}
													<div class="form__error">
														{{ form_errors(form.imageFile)}}
													</div>
												</div> #}


			<div class="form__group--btn">
				{{ form_row(form.submit)}}
			</div>

		</div>
	</div>
	{{ form_end(form)}}
{% endblock %}
