{% extends 'base.html.twig' %}

{% block title %}Gringo Loco - Modification de l'utilisateur
{% endblock %}

{% block body %}
	{% for message in app.flashes('warning') %}
		<div class="alert alert__warning">
			{{ message }}
		</div>
	{% endfor %}


	<div class="form">
		<h1>
			Modifié votre mot de passe</h1>
		<div class="form__groups">
			{{ form_start(form) }}
			<div class="form__group">
				{{ form_label(form.oldPassword)}}
				{{ form_widget(form.oldPassword)}}
				<div class="form__error">
					{{ form_errors(form.oldPassword)}}
				</div>
			</div>
			<div class="form__group">
				{{ form_label(form.newPassword)}}
				{{ form_widget(form.newPassword)}}
				<div class="form__error">
					{{ form_errors(form.newPassword)}}
				</div>
			</div>
			<div class="form__group">
				{{ form_label(form.confirmPassword)}}
				{{ form_widget(form.confirmPassword)}}
				<div class="form__error">
					{{ form_errors(form.confirmPassword)}}
				</div>
			</div>

			<div class="form__group--btn">
				{{ form_row(form.submit)}}
				<a href="{{ path('app_login') }}">
					<p>Déjà un compte chez nous ?</p>
				</a>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
